local wezterm = require("wezterm")
local act = wezterm.action

local config = wezterm.config_builder()

-- basic appearance

config.font = wezterm.font("Maple Mono NF CN")
config.font_size = 20
config.default_prog = { "/bin/zsh", "-l" }

config.enable_tab_bar = false
config.window_decorations = "RESIZE"

config.automatically_reload_config = true

config.keys = {
    { key = "d",          mods = "SUPER",       action = act.SplitHorizontal { domain = "CurrentPaneDomain" } },
    { key = "d",          mods = "SHIFT|SUPER", action = act.SplitVertical { domain = "CurrentPaneDomain" } },
    { key = "Enter",      mods = "SHIFT|SUPER", action = act.TogglePaneZoomState },
    { key = "LeftArrow",  mods = "ALT|SUPER",   action = act.ActivatePaneDirection "Left" },
    { key = "DownArrow",  mods = "ALT|SUPER",   action = act.ActivatePaneDirection "Down" },
    { key = "RightArrow", mods = "ALT|SUPER",   action = act.ActivatePaneDirection "Right" },
    { key = "UpArrow",    mods = "ALT|SUPER",   action = act.ActivatePaneDirection "Up" },
    { key = "LeftArrow",  mods = "CTRL|SUPER",  action = act.AdjustPaneSize { "Left", 10 } },
    { key = "DownArrow",  mods = "CTRL|SUPER",  action = act.AdjustPaneSize { "Down", 10 } },
    { key = "RightArrow", mods = "CTRL|SUPER",  action = act.AdjustPaneSize { "Right", 10 } },
    { key = "UpArrow",    mods = "CTRL|SUPER",  action = act.AdjustPaneSize { "Up", 10 } },
}

{{ $theme := fromYaml (include "themes/sayoriqwq-obsidian.yml") }}
-- WezTerm Theme: {{ $theme.name }}
config.window_background_opacity = 0.9
config.macos_window_background_blur = 20

config.color_schemes = {
    ["{{ $theme.name }}"] = {
        foreground = "{{ $theme.foreground }}",
        background = "{{ $theme.background }}",
        cursor_bg = "{{ $theme.cursor }}",
        cursor_border = "{{ $theme.cursor }}",
        cursor_fg = "{{ $theme.cursor_text }}",
        selection_bg = "{{ $theme.selection_bg }}",
        selection_fg = "{{ $theme.selection_fg }}",

        ansi = {
            "{{ index $theme.ansi 0 }}",
            "{{ index $theme.ansi 1 }}",
            "{{ index $theme.ansi 2 }}",
            "{{ index $theme.ansi 3 }}",
            "{{ index $theme.ansi 4 }}",
            "{{ index $theme.ansi 5 }}",
            "{{ index $theme.ansi 6 }}",
            "{{ index $theme.ansi 7 }}"
        },

        brights = {
            "{{ index $theme.ansi 8 }}",
            "{{ index $theme.ansi 9 }}",
            "{{ index $theme.ansi 10 }}",
            "{{ index $theme.ansi 11 }}",
            "{{ index $theme.ansi 12 }}",
            "{{ index $theme.ansi 13 }}",
            "{{ index $theme.ansi 14 }}",
            "{{ index $theme.ansi 15 }}"
        },
    },
}
config.color_scheme = "{{ $theme.name }}"

return config
